<!-- filtros -->
<div class="filter-content">
    <div class="nav flex-column">

        <!-- Opciones de especialistas -->
        <select class="form-select form-select-lg mb-3" aria-label="Large select example">
            <option selected>Especialidad</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

        <!-- Opciones de zonas -->
        <select class="form-select form-select-lg mb-3" aria-label="Large select example">
            <option selected>Zona</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
</div>
</div>