<!DOCTYPE html>
<html>
<%- include("./partials/head", { title: "Prestadores UGL 17" }) %>

  <body>
    <!-- header -->
    <%- include("./partials/header") %>

      <!-- cuerpo -->
      <main>
        <%- include("./partials/filtro") %>
          <%- include("./partials/lista") %>
      </main>
  </body>

</html>