body {
  font-family: Arial, sans-serif;
}

header {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

button {
    border: none;
    outline: none; /* Elimina el contorno que puede aparecer al hacer clic en algunos navegadores */
    box-shadow: none; /* Elimina sombras que a veces se aplican como parte del enfoque */
}


.logo img {
  height: 100px;
}

.mid_bar {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

.search-bar {
    width: 50%;
    margin: auto;
}

.tittle {
  color: #004aad;
}

.option-button{
    margin: 2rem;
}

main {
  display: flex;
}

.filter-content {
  max-width: fit-content;
  padding: 20px;
}

.doctor-list {
  padding-top: 20px;
  width: 100%;
}

.doctor-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 4px;
}

.doctor-info {
  display: flex;
  align-items: center;
}

.doctor-avatar img {
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.doctor-details h2 {
  margin: 0;
  font-size: 20px;
}

.doctor-details p {
  margin: 5px 0;
}

.doctor-availability p {
  margin: 0;
  font-size: 16px;
}

.doctor-availability .available {
  color: green;
}

.doctor-availability .unavailable {
  color: red;
}

.relief-button {
  background: none;
  border: 1px solid #007bff;
  padding: 5px 10px;
  border-radius: 4px;
  color: #007bff;
  cursor: pointer;
}

.relief-button:hover {
  background-color: #007bff;
  color: white;
}
